<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Roll the Dice</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">

  </head>
  <body>

    <div class="container">
    
        <% if (!locals.winner) { %>
          <h1>Refresh Me!</h1>
        <% } else { %>
            <% if (winner == 1) {%>
                <h1>Player 1 wins!</h1>
            <% } else if (winner == 2) {%>
                <h1>Player 2 wins!</h1>
            <% } else {%>
                <h1>It's a Draw!</h1>
            <% } %>
        <% }%>

      <div class="dice">
        <p>Player 1</p>
        <img class="img1" src="images/dice<%=dice1%>.png">
      </div>

      <div class="dice">
        <p>Player 2</p>
        <img class="img2" src="images/dice<%=dice2%>.png">
      </div>

      <div class = "Refresh">
        <a href="/" class="button"><h2>Refresh</h2></a>
      </div>
    </div>
  </body>

  <footer>
    🎲 Contributed by Pashmeen Kaur 🎲
  </footer>
</html>
